h1 New answer for question:
= link_to "#{@answer.question.title}", @answer.question
p= "#{@answer.user.email} answered"
p= @answer.body

= link_to 'Open question', @answer.question
= link_to 'Unsubscribe from new answers', question_unsubscribe_url(@answer.question)