=link_to image_tag('down.png'), downvote_question_path(@question), remote: true, class:'create_vote'
=render 'common/rating', res: @question
=link_to image_tag('up.png'), upvote_question_path(@question), remote: true, class:'create_vote'