=link_to image_tag('down.png'), @vote, method: :delete, remote: true, class:'delete_vote'
span.rating
  = @question.rating 
=link_to image_tag('up.png'), @vote, method: :delete, remote: true, class:'delete_vote'